* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Hide Arrows From Input Number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@tailwind base;
@tailwind components;
@tailwind utilities;